@charset "UTF-8";

ul#albumfotos {
  width: 700px;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
  list-style: none;
}

ul#albumfotos li {
  float: left;
  width: 200px;
  height: 200px;
  margin: 10px;
  border: 2px solid white;
  background-color: #ffffff;
  box-shadow: 1px 1px 3px rgba(0,0,0,.4);
  -webkit-transition: all 0.4s ease-in;
}

ul#albumfotos span {
  opacity: 0;
  color: white;
  text-shadow: 1px 1px 1px black;
  background-color: rgba(0,0,0,.4);
  font-size: 10pt;
  line-height: 370px;
  padding: 5px;
}

ul#albumfotos li:hover {
  -webkit-transform: scale(1.5);
}

ul#albumfotos li:hover span {
  opacity: 1;
}

ul#albumfotos li#foto1 {
  background: url('../imagens/infancia.jpg') no-repeat;
  background-position: 50% 50%;
  background-size: 400px 400px;
  background-color: white;
}

ul#albumfotos li#foto1:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#albumfotos li#foto2 {
  background: url('../imagens/infancia1.jpg') no-repeat;
   background-position: 50% 50%;
  background-size: 400px 400px;
  background-color: white;
}

ul#albumfotos li#foto2:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#albumfotos li#foto3 {
  background: url('../imagens/infancia2.jpg') no-repeat;
   background-position: 50% 50%;
  background-size: 400px 400px;
  background-color: white;
}

ul#albumfotos li#foto3:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#albumfotos li#foto4 {
  background: url('../imagens/infancia4.jpeg') no-repeat;
   background-position: 50% 50%;
  background-size: 400px 400px;
  background-color: white;
}

ul#albumfotos li#foto4:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#albumfotos li#foto5 {
  background: url('../imagens/infancia5.jpg') no-repeat;
   background-position: 50% 50%;
  background-size: 400px 400px;
  background-color: white;
}

ul#albumfotos li#foto5:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#albumfotos li#foto6 {
  background: url('../imagens/infancia6.jpg') no-repeat;
   background-position: 50% 50%;
  background-size: 400px 400px;
  background-color: white;
}

ul#albumfotos li#foto6:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#albumfotos li#foto7 {
  background: url('../imagens/infancia7.jpg') no-repeat;
   background-position: 50% 50%;
  background-size: 400px 400px;
  background-color: white;
}

ul#albumfotos li#foto7:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#albumfotos li#foto8 {
  background: url('../imagens/infancia8.jpg') no-repeat;
   background-position: 50% 50%;
  background-size: 400px 400px;
  background-color: white;
}

ul#albumfotos li#foto8:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}

ul#albumfotos li#foto9 {
  background: url('../imagens/infancia9.jpg') no-repeat;
   background-position: 50% 50%;
  background-size: 400px 400px;
  background-color: white;
}

ul#albumfotos li#foto9:hover {
  background-position: 0px 0px;
  background-size: 200px 200px;
}